* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(146, 37%, 96%);

  line-height: 2em;
}

h1,
h2 {
  color: hwb(0 25% 75%);
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 1em;
  padding: 0.5px;
}

body > header,
article > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article > header > h2 {
  font-size: 28px;
}

body > header {
  margin-top: 1em;
  box-shadow: 10px 5px 5px hsl(143, 48%, 59%);
}

ul {
  padding-top: 0.5em;
  display: flex;
  list-style: none;
}

ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(143, 87%, 31%);
}

ul li {
  margin: 0 4px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  padding: 1em;
}

mark {
  background-color: hsl(143, 83%, 86%);
  border-radius: 2px;
}

details {
  padding-left: 1em;
  border: 1px solid;
  border-radius: 3px;
  background-color: hsl(142, 77%, 92%);
  width: 300px;
}

aside {
  padding-top: 2em;
  padding-left: 1em;
  margin-top: 1em;
  width: 400;
  height: 100;
  border-left: 5px solid;
  border-color: hsl(141, 79%, 28%);
}

footer,
dialog {
  padding: 1em;
}

dialog {
  background-color: hsl(143, 83%, 86%);
  border-color: hsl(141, 79%, 28%);
  border-radius: 3px;
}
