* {
  margin: 2px;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.5em;
}

main {
  background-color: whitesmoke;
}

footer,
dialog {
  padding-top: 1em;
}

nav{
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}
