* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-inline: 21em;
  line-height: 2em;
}

header,
main,
footer {
  background-color: hsl(146, 37%, 96%);
}

h1,
h2 {
  color: hwb(0 25% 75%);
  padding-block: 0.5em;
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 0.5px;
}

body > header,
article > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article > header > h2 {
  font-size: 28px;
}

body > header {
  margin-top: 1em;
  padding-block: 3em;
  border-bottom: 2px solid hsl(143, 87%, 31%);
  position: sticky;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsl(146, 37%, 96%);
}

ul {
  padding-top: 0.5em;
  display: flex;
  list-style: none;
}

ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid hsl(143, 87%, 31%);
}

ul li {
  margin: 0 4px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  /* left: 3em; */
}

mark {
  background-color: hsl(143, 83%, 86%);
  border-radius: 2px;
}

details {
  margin-top: 2em;
  padding-left: 1em;
  border: 1px solid;
  border-radius: 3px;
  background-color: hsl(142, 77%, 92%);
  width: 300px;
}

aside {
  padding-top: 2em;
  padding-left: 1em;
  margin-top: 1em;
  width: 400px;
  height: 100;
  border-left: 5px solid;
  border-color: hsl(141, 79%, 28%);
}

footer,
dialog {
  padding: 1em;
}

dialog {
  position: fixed;
  background-color: hsl(143, 83%, 86%);
  border-color: hsl(141, 79%, 28%);
  border-radius: 3px;
  bottom: 20px;
  /* left: 30px; */
}

main,
footer,
dialog {
  padding: 1em;
}

figure {
  padding-top: 1em;
}
img {
  width: 35%;
  height: 35%;
}
