* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.5em;
}

ul {
  padding-top: 0.5em;
  display: flex;
  list-style: none;
}

ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

ul li {
  margin: 0 4px;
}

main {
  margin: 1em;
  padding: 0.5px;
  background-color: whitesmoke;
}

hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer,
dialog {
  padding-top: 1em;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

body > header,
article > header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
